body{
    font: 16px/1.5 "Noto Sans KR",sans-serif;
    color: #333;
    background: black;
    /* width: 1000px; */
    margin: 0 auto;
}
a,a:link{
    text-decoration: none;
    color: inherit;
}
.d_none{
    display: none  ;
}
.header_wrap{
    display: flex;
    width: calc(100% - 25px);
    /* padding: 100px 25px; */
    background: rgba(0,0,0,0.5);
    position: relative;
    justify-content: center;
    align-items: center;
}
.logo{
    position: absolute;
    width: 100px;
    left: 50px;
    top: 20px;
}
.nav{
    position: absolute;
    display: flex;
    color: aliceblue;
    left: 200px;
    top: 20px;
    column-gap: 20px;
    line-height: 30.42px;
    /* font-weight: bolder; */
}
.menu{
    position: absolute;
    display: flex;
    color: aliceblue;
    right: 20px;
    top: 20px;
    column-gap: 20px;
    line-height: 30.42px;
}
.hero{
    width: 100%;
    height: auto;
}
.banner {
    color: aliceblue;
    width: 30%;
    position: absolute;
    top: 500px;
    left: 100px;
}
.n_series{
    display: flex;
    align-items: center;
    color: aliceblue;
    font-weight: bolder;
}
.n_series img{
    width: 50px;
    height: auto;
}
.buttons{
    display: flex;
    column-gap: 10px;
    padding: 20px 0;
}
.play_button, .info_button{
    color: black;
    background: white;
    width: auto;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: 900;
    font-size: 18px;
    border-style: none;
}
.info_button{
    color: white;
    background: rgba(0,0,0,0.5);
}